
.project-budget-chart {
  height: 328px;
}
.project-budget-detail-chart{
  height: 270px;
}
.workloed-chart{
  height: 278px;
}

/*Dashboard 2*/
.overview-chart{
  height: 345px;
}
.summary-chart{
  height: 230px;
}
.dashboard-map{
  height: 290px;
}