@font-face {
   font-family: 'Hammersmith One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/sacha/Documents/GitHub/www_3bot_org/www_freeflowmatchmakers//fonts/Hammersmith One/regular.ttf') format('truetype');
}
