{{ partial "head.html" . }}


	<body>

{{ partial "header.html" . }}
{{ partial "home_page/intro.html" . }}	
{{ partial "home_page/first-section.html" . }}
{{ partial "home_page/second-section.html" . }}			
{{ partial "home_page/gallery_images.html" . }}	
{{ partial "home_page/contact.html" . }}		
{{ partial "footer.html" . }}

		

		

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/jquery.poptrox.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/jquery.lazyload.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>







