@font-face {
   font-family: 'Bebas Neue';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/sacha/Documents/GitHub/www_3bot_org/www_freeflowmatchmakers//fonts/Bebas Neue/regular.ttf') format('truetype');
}
