@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Bebas Neue', display;
  font-size: 6rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Bebas Neue', display;
  font-size: 4rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 6.4rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #124d4c !important;
}
.bg-success {
  background-color: #45dede !important;
}
.bg-info {
  background-color: #2fccc9 !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #124d4c !important;
  border-color: #124d4c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #040f0f !important;
  border-color: #040f0f !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #040f0f !important;
  border-color: #040f0f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #1e807f !important;
  border-color: #1e807f !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0f4242 !important;
  border-color: #0f4242 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0f4242 !important;
  border-color: #0f4242 !important;
}
.btn-info,
.btn-info:active {
  background-color: #2fccc9 !important;
  border-color: #2fccc9 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #218e8c !important;
  border-color: #218e8c !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #218e8c !important;
  border-color: #218e8c !important;
}
.btn-success,
.btn-success:active {
  background-color: #45dede !important;
  border-color: #45dede !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #20b6b6 !important;
  border-color: #20b6b6 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #20b6b6 !important;
  border-color: #20b6b6 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #124d4c;
  border-color: #124d4c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #124d4c !important;
  border-color: #124d4c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0b2d2d;
  color: #0b2d2d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #1e807f;
  border-color: #1e807f;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #1e807f !important;
  border-color: #1e807f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #1c7977;
  color: #1c7977;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #2fccc9;
  border-color: #2fccc9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2fccc9 !important;
  border-color: #2fccc9 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #1ca1a1;
  color: #1ca1a1;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #45dede;
  border-color: #45dede;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #45dede !important;
  border-color: #45dede !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #124d4c !important;
}
.text-secondary {
  color: #1e807f !important;
}
.text-success {
  color: #45dede !important;
}
.text-info {
  color: #2fccc9 !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0b2d2d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1ca1a1 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #1c7977 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2fccc9;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #124d4c;
  border-color: #124d4c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #124d4c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #69dcda;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f2fdfd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d2f5f4;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.76rem;
}
blockquote {
  border-color: #124d4c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #124d4c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #124d4c;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #124d4c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #124d4c;
  border-bottom-color: #124d4c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #124d4c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #1e807f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23124d4c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rSWclpwy1L .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
.cid-rSWclpwy1L .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rSWclpwy1L a {
  font-style: normal;
}
.cid-rSWclpwy1L .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rSWclpwy1L .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rSWclpwy1L .nav-item:focus,
.cid-rSWclpwy1L .nav-link:focus {
  outline: none;
}
.cid-rSWclpwy1L .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rSWclpwy1L .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rSWclpwy1L .menu-logo {
  margin-right: auto;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rSWclpwy1L .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rSWclpwy1L .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rSWclpwy1L .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rSWclpwy1L .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rSWclpwy1L .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rSWclpwy1L .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rSWclpwy1L .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rSWclpwy1L .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rSWclpwy1L .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rSWclpwy1L .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rSWclpwy1L .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rSWclpwy1L button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rSWclpwy1L button.navbar-toggler:focus {
  outline: none;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rSWclpwy1L nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rSWclpwy1L nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rSWclpwy1L nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rSWclpwy1L nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rSWclpwy1L .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rSWclpwy1L .collapsed .btn {
  display: -webkit-flex;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rSWclpwy1L .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6rem);
  }
}
.cid-rSWclpwy1L .collapsed button.navbar-toggler {
  display: block;
}
.cid-rSWclpwy1L .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rSWclpwy1L .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rSWclpwy1L .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rSWclpwy1L .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rSWclpwy1L .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rSWclpwy1L .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rSWclpwy1L .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rSWclpwy1L img {
    height: 3.8rem !important;
  }
  .cid-rSWclpwy1L .btn {
    display: -webkit-flex;
  }
  .cid-rSWclpwy1L button.navbar-toggler {
    display: block;
  }
  .cid-rSWclpwy1L .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rSWclpwy1L .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rSWclpwy1L .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing,
  .cid-rSWclpwy1L .navbar-collapse.show {
    display: block !important;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-nav,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-buttons,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rSWclpwy1L .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rSWclpwy1L .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rSWclpwy1L .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rSWclpwy1L .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rSWclpwy1L .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rSWclpwy1L .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rSWclpwy1L .nav-link:hover,
.cid-rSWclpwy1L .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rSWcpvoNPA {
  background-image: url("../../../assets/images/katarzyna-gonsior-yq2v5sx6zmk-unsplash-2000x1333.jpg");
}
.cid-rSWcpvoNPA .mbr-text,
.cid-rSWcpvoNPA .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-rSWcpvoNPA H1 {
  color: #ffffff;
  text-align: left;
}
.cid-rT1Etxje2z {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rT1Etxje2z .mbr-text,
.cid-rT1Etxje2z .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-rT1Etxje2z H1 {
  text-align: center;
  color: #1e807f;
}
.cid-rT1Etxje2z H3 {
  text-align: center;
  color: #232323;
}
.cid-rSWfxkdIQI {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rSWfxkdIQI .mbr-text,
.cid-rSWfxkdIQI .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-rSWfxkdIQI H1 {
  text-align: center;
  color: #1e807f;
}
.cid-rV15FZhwWv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rV15FZhwWv .mbr-section-subtitle {
  color: #232323;
  text-align: center;
}
.cid-rV15FZhwWv H2 {
  color: #124d4c;
}
.cid-rV151T6Spv {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rV151T6Spv .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-rV151T6Spv h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rV151T6Spv p {
  color: #767676;
  text-align: left;
}
.cid-rV151T6Spv .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rV151T6Spv .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rV151T6Spv .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-rV151T6Spv .card-title {
  color: #124d4c;
}
.cid-rV151T6Spv P {
  color: #232323;
}
.cid-rT7xPBELzn {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rT7xPBELzn .mbr-text,
.cid-rT7xPBELzn blockquote {
  color: #767676;
}
.cid-rT7xPBELzn .mbr-text {
  text-align: center;
  color: #232323;
}
.cid-rT1Io8YS0j {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rT1Io8YS0j .mbr-text,
.cid-rT1Io8YS0j .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-rT1Io8YS0j H1 {
  text-align: center;
  color: #1e807f;
}
.cid-rT1Io8YS0j H3 {
  text-align: center;
  color: #232323;
}
.cid-rT1Il90O2r {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rT1Il90O2r .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-rT1Il90O2r .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-rT1Il90O2r .mbr-text {
  color: #232323;
  text-align: right;
}
.cid-rTuQKBX1O1 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rT1HVJMgg8 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rT1HVJMgg8 .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rT1HVJMgg8 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rT1HVJMgg8 .media-container-row {
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
  }
  .cid-rT1HVJMgg8 .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rT1HVJMgg8 .mbr-text {
  color: #232323;
  text-align: left;
}
.cid-rTuQUD4iWx {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rTuHPYyjiO {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rTuHPYyjiO .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-rTuHPYyjiO .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-rTuHPYyjiO .mbr-text {
  color: #232323;
  text-align: right;
}
.cid-rTuQVsVQKc {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rTuIVLW88k {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rTuIVLW88k .mbr-text,
.cid-rTuIVLW88k .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-rTuIVLW88k H1 {
  text-align: center;
  color: #1e807f;
}
.cid-rTuIVLW88k H3 {
  text-align: left;
  color: #1e807f;
}
.cid-rTuJOTr0vB {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rTuJOTr0vB .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rTuJOTr0vB .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rTuJOTr0vB .media-container-row {
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
  }
  .cid-rTuJOTr0vB .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rTuJOTr0vB .mbr-text {
  color: #232323;
  text-align: left;
}
.cid-rTuRe7gGwV {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rSWfK10Hhr {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rSWfK10Hhr .mbr-text,
.cid-rSWfK10Hhr .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-rSWfK10Hhr H1 {
  text-align: center;
  color: #1e807f;
}
.cid-rSWfK10Hhr H3 {
  text-align: left;
  color: #1e807f;
}
.cid-rSWgEJp7Ek {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rSWgEJp7Ek h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rSWgEJp7Ek p {
  color: #767676;
  text-align: left;
}
.cid-rSWgEJp7Ek .card-box {
  padding-top: 2rem;
}
.cid-rSWgEJp7Ek .card-wrapper {
  height: 100%;
}
.cid-rSWgEJp7Ek .card-title {
  color: #124d4c;
  text-align: center;
}
.cid-rSWgEJp7Ek P {
  color: #ffffff;
}
.cid-s7NRux7V92 {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s7NRux7V92 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7NRux7V92 p {
  color: #767676;
  text-align: left;
}
.cid-s7NRux7V92 .card-box {
  padding-top: 2rem;
}
.cid-s7NRux7V92 .card-wrapper {
  height: 100%;
}
.cid-s7NRux7V92 .card-title {
  color: #124d4c;
  text-align: center;
}
.cid-s7NRux7V92 P {
  color: #ffffff;
}
.cid-s7NQh6Elgc {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s7NQh6Elgc h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7NQh6Elgc p {
  color: #767676;
  text-align: left;
}
.cid-s7NQh6Elgc .card-box {
  padding-top: 2rem;
}
.cid-s7NQh6Elgc .card-wrapper {
  height: 100%;
}
.cid-s7NQh6Elgc .card-title {
  color: #124d4c;
  text-align: center;
}
.cid-s7NQh6Elgc P {
  color: #ffffff;
}
.cid-s7NTCsW39r {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s7NTCsW39r h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7NTCsW39r p {
  color: #767676;
  text-align: left;
}
.cid-s7NTCsW39r .card-box {
  padding-top: 2rem;
}
.cid-s7NTCsW39r .card-wrapper {
  height: 100%;
}
.cid-s7NTCsW39r .card-title {
  color: #124d4c;
  text-align: center;
}
.cid-s7NTCsW39r P {
  color: #ffffff;
}
.cid-rT1wMZAd2N {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rT1wMZAd2N h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rT1wMZAd2N p {
  color: #767676;
  text-align: left;
}
.cid-rT1wMZAd2N .card-box {
  padding-top: 2rem;
}
.cid-rT1wMZAd2N .card-wrapper {
  height: 100%;
}
.cid-rT1wMZAd2N .card-title {
  color: #124d4c;
  text-align: center;
}
.cid-rT1wMZAd2N P {
  color: #ffffff;
}
.cid-s7NUuDltwc {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s7NUuDltwc .mbr-section-subtitle {
  color: #767676;
  text-align: center;
}
.cid-s7NUuDltwc .btn {
  margin: 0 0 .5rem 0;
}
.cid-s7NUuDltwc H2 {
  text-align: center;
}
.cid-rT16VuUvQp {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/brooke-bell-houd-mdfmcu-unsplash-2000x1500.jpg");
}
.cid-rT16VuUvQp .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-rT16VuUvQp .formoid {
  margin: auto;
}
.cid-rT16VuUvQp .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-rT16VuUvQp .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 !important;
}
.cid-rT16VuUvQp a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rT16VuUvQp a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 768px) {
  .cid-rT16VuUvQp .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rT16VuUvQp .form-group,
  .cid-rT16VuUvQp .input-group-btn,
  .cid-rT16VuUvQp .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .cid-rT16VuUvQp .mbr-form .row > * {
    padding: 0 0.5rem;
  }
}
.cid-rT16VuUvQp H2 {
  color: #ffffff;
  text-align: center;
}
.cid-rSWclpwy1L .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
.cid-rSWclpwy1L .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rSWclpwy1L a {
  font-style: normal;
}
.cid-rSWclpwy1L .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rSWclpwy1L .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rSWclpwy1L .nav-item:focus,
.cid-rSWclpwy1L .nav-link:focus {
  outline: none;
}
.cid-rSWclpwy1L .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rSWclpwy1L .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rSWclpwy1L .menu-logo {
  margin-right: auto;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rSWclpwy1L .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rSWclpwy1L .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rSWclpwy1L .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rSWclpwy1L .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rSWclpwy1L .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rSWclpwy1L .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rSWclpwy1L .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rSWclpwy1L .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rSWclpwy1L .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rSWclpwy1L .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rSWclpwy1L .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rSWclpwy1L .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rSWclpwy1L .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rSWclpwy1L button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rSWclpwy1L button.navbar-toggler:focus {
  outline: none;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rSWclpwy1L button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rSWclpwy1L nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rSWclpwy1L nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rSWclpwy1L nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rSWclpwy1L nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rSWclpwy1L .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rSWclpwy1L .collapsed .btn {
  display: -webkit-flex;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rSWclpwy1L .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rSWclpwy1L .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rSWclpwy1L .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6rem);
  }
}
.cid-rSWclpwy1L .collapsed button.navbar-toggler {
  display: block;
}
.cid-rSWclpwy1L .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rSWclpwy1L .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rSWclpwy1L .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rSWclpwy1L .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rSWclpwy1L .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rSWclpwy1L .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rSWclpwy1L .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rSWclpwy1L img {
    height: 3.8rem !important;
  }
  .cid-rSWclpwy1L .btn {
    display: -webkit-flex;
  }
  .cid-rSWclpwy1L button.navbar-toggler {
    display: block;
  }
  .cid-rSWclpwy1L .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rSWclpwy1L .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rSWclpwy1L .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing,
  .cid-rSWclpwy1L .navbar-collapse.show {
    display: block !important;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-nav,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-buttons,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rSWclpwy1L .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rSWclpwy1L .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rSWclpwy1L .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rSWclpwy1L .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rSWclpwy1L .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rSWclpwy1L .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rSWclpwy1L .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rSWclpwy1L .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rSWclpwy1L .nav-link:hover,
.cid-rSWclpwy1L .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rTuMrWiula {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rTuMrWiula .title {
  margin-bottom: 2rem;
}
.cid-rTuMrWiula .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rTuMrWiula a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rTuMrWiula a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rTuMrWiula textarea.form-control {
  min-height: 188px;
}
.cid-rTuMrWiula H2 {
  text-align: left;
  color: #1e807f;
}
