:2015 {
    bind 0.0.0.0
    gzip
    root .
    
    git {
        repo https://github.com/goldflow-io/www_goldflow_io.git
        branch production
        hook /webhook "test9278"
        key ~/.ssh/id_rsa
        path . 
    }
}
